################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SchultzNCA8-JS3-BNH/CopilotIndices/17.14.939.21063
/.vs/SchultzNCA8-JS3-BNH/config
